.banner--container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}


.banner--img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__text {
    text-align: justify;
}

@media (max-width: 767px) {
    .banner--img>img {
        width: 300px;
    }

    .banner--img:nth-child(1) {
        order: 2;
        margin-top: 20px;
    }
}

@media (min-width:768px) and (max-width:1080px) {
    .banner--img>img {
        width: 280px;
    }
}